* {
    box-sizing: border-box;
    margin: 0;              
    padding: 0; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    min-height: 100vh;

    margin: 0;

    font-family: monospace;
    text-align: center;
    font-size: 18px;

    background-color: var(--primary-bg);
    color: rgb(40, 38, 38);
}

.container {
    width: 100%;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin: 20px 40px 50px 40px;
}

.main-container {
    display: flex;
    justify-content: start;
}
li.car-track {
    list-style: none;
    background-color: rgba(130, 46, 46, 0.2); /* Цвет твоей дорожки */
    margin: 10px 0;
    padding: 10px;
    width: 100%; /* Растягиваем на всю ширину контейнера */
    height: 50px; /* Фиксированная высота дорожки, чтобы машине было где ехать */
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px; /* Расстояние между кнопками */
    
    position: relative; /* Чтобы финиш или машина позиционировались относительно дорожки */
    border-right: 5px solid #ff4757;
}
#listOfCars {
    width: 100%;
    padding: 0;
    margin-top: 20px;
}

.car-name {
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    
    transform: translateX(0); 

    transition: transform 0s linear; 
}